* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* 解决移动端a标签点击时出现背景色 */
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-focus: none;
    -moz-user-select: none;
    font-family: "微软雅黑";
    height: 100vh;
}

input,
select,
button {
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* 头部 */
.yxhead {
    width: 100%;
    height: 3.24rem;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
/* .yxbox{
    width: 100%;
    height: 1.3rem;
} */
.nav-head {
    width: 100%;
    padding-left: 0.2rem;
    padding-top: 0.37rem;
    /* padding-bottom: 0.37rem; */
    padding-right: 0.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-image: url(../images/yx14.png);
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5; */

}

.logo {
    width: 1.58rem;
}

.ipt {
    display: block;
    width: 5.18rem;
    height: 0.6rem;
    background: #fff;
    border-radius: 0.27rem;
    position: relative;
}

.se-img{
    position: absolute;
    left: 0.28rem;
    top: 0.17rem;
    width: 0.25rem;
    height: 0.25rem;
}
.holder {
    position: absolute;
    left: 0.66rem;
    top: 0.14rem;
    font-size: 0.24rem;
    color: #A3A3A3;
}

/* 轮播图 */
.swiper-container {
    width: 7.1rem;
    height: 2.89rem;
    margin: 0.27rem auto 0;
    border-radius: 0.05rem;
    overflow: hidden;
}

.swiper-slide {
    width: 7.1rem;
    height: 2.89rem;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet-active {
    background: #fff;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    width: 100%;
}

/* 导航 */
.navbar {
    width: 100%;
    padding-bottom: 0.25rem;
    margin-top: 0.9rem;
    display: flex;
    justify-content: space-around;
}

.navbar-block {
    width: 1.11rem;
    display: block;
}

.navbar-block img {
    display: block;
    width: 1.11rem;
    height: 1.15rem;
}

.navbar-des {
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 0.24rem;
}

.empty {
    width: 100%;
    height: 0.09rem;
    background: #F6F6F6;
}

/* 热门品类 */
.floor {
    height: 0.9rem;
    line-height: 0.9rem;
    padding-left: 0.2rem;
    position: relative;
}

.f-img {
    vertical-align: middle;
    width: 1.3rem;
    height: 0.32rem;
}

.f-des {
    display: inline-block;
    vertical-align: middle;
    color: #3F3F3F;
    font-size: 0.24rem;
}

.f-more {
    position: absolute;
    display: inline-block;
    color: #3F3F3F;
    right: 0.2rem;
    top: 0.2rem;
    font-size: 0.24rem;
}

/* 分类1 */
.fenlei {
    display: flex;
    justify-content: space-between;
    padding: 0 0.2rem 0.3rem;
}

.fenlei1 {
    width: 3.5rem;
    height: 2.55rem;
    background: #F6F6F6;
    border-radius: 0.03rem;
}

.fenlei1-title {
    padding-left: 0.28rem;
    padding-top: 0.1rem;
    font-size: 0.32rem;
    color: #3F3F3F;
    font-weight: bold;
}

.fenlei1-des {
    padding-left: 0.28rem;
    margin-top: 0.08rem;
    font-size: 0.2rem;
    color: #3F3F3F;
}

.fenlei1-bottom {
    display: flex;
    justify-content: space-around;
    margin-top: 0.18rem;
}
.f-b-left{
    display: block;
}
.f-b-left .imgbox {
    width: 1.3rem;
    height: 0.82rem;
    background: lightblue;
}

.imgbox img {
    width: 100%;
    height: 100%;
}

.f-b-left .img-des {
    padding: 0.08rem 0.2rem;
    font-size: 0.24rem;
    color: #fff;
    background: #333;
    text-align: center;
    margin-top: 0.1rem;
}

/* 分类2 */
.small-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.2rem 0.3rem;
    overflow: hidden;
    /* margin-top: 0.1rem; */
    /* border: 1px solid #000; */
}

.s-f-part {
    display: block;
    width: 2.3rem;
    height: 2.38rem;
    border-radius: 0.03rem;
    background: #F6F6F6;
    font-size: 0.28rem;
    font-weight: bold;
    color: #3F3F3F;
    padding: 0.28rem;
    margin-top: 0.1rem;
}

.s-f-part .imgbox {
    margin-top: 0.35rem;
    width: 1.76rem;
    height: 1.04rem;
    background: #dedede;
}

/* 热门行业 */
.hot-career {
    display: flex;
    padding: 0 0.2rem;
    justify-content: space-between;
}

.hot-left {
    display: block;
    width: 4.7rem;
    height: 2.48rem;
    background-image: url(../images/fenlei3.png);
    background-size: 100% 100%;
}

.h-l-r1 {
    margin-top: 0.4rem;
    padding-left: 0.25rem;
    font-size: 0.32rem;
    font-weight: bold;
    color: #266FF4;
}

.h-l-r2 {
    margin-top: 0.09rem;
    padding-left: 0.26rem;
    color: #3F3F3F;
    font-size: 0.2rem;
}

.h-l-r3 {
    margin-top: 0.6rem;
    margin-left: 0.34rem;
    display: block;
    width: 0.75rem;
    color: #fff;
    text-align: center;
    font-size: 0.16rem;
    padding: 0.03rem 0.05rem;
    background: #5489ED;
}

.hot-right {
    display: block;
    width: 2.31rem;
    height: 2.48rem;
    background-image: url(../images//fenlei1.png);
    background-size: 100% 100%;
}

.h-r-r1 {
    margin-top: 0.34rem;
    text-align: center;
    color: #3F3F3F;
    font-size: 0.32rem;
}

.h-r-r2 {
    margin-top: 0.1rem;
    text-align: center;
    color: #3F3F3F;
    font-size: 0.2rem;
}

/* 热门行业第二行 */
.hot1-career1 {
    margin-top: 0.1rem;
    display: flex;
    padding: 0 0.2rem;
    justify-content: space-between;
}

.hot1-left {
    display: block;
    width: 3.5rem;
    height: 1.65rem;
    background-image: url(../images/fenlei4.png);
    background-size: 100% 100%;
    border-radius: 0.03rem;
}

.h1-l-r1 {
    margin-top: 0.27rem;
    padding-left: 0.25rem;
    font-size: 0.28rem;
    font-weight: bold;
    color: #3F3F3F;
}

.h1-l-r2 {
    margin-top: 0.07rem;
    padding-left: 0.27rem;
    color: #3F3F3F;
    font-size: 0.18rem;
}

.h1-l-r3 {
    margin-top: 0.25rem;
    margin-left: 0.27rem;
    display: block;
    width: 0.87rem;
    height: 0.32;
    color: #fff;
    text-align: center;
    line-height: 0.32rem;
    font-size: 0.2rem;
    background: rgba(0, 0, 0, 0.28);
}

.hot1-right {
    display: block;
    width: 3.5rem;
    height: 1.65rem;
    background-image: url(../images//fenlei2.png);
    background-size: 100% 100%;
    border-radius: 0.03rem;
}

/* 最新产品 */
.floor1 {
    height: 0.9rem;
    line-height: 0.9rem;
    padding-left: 0.2rem;
    position: relative;
    background: #F6F6F6;
    margin-top: 0.3rem;
}

/* 产品 */
.products-show {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0.2rem;
    background: #F6F6F6;
}

.item {
    display: block;
    width: 3.5rem;
    height: 4.35rem;
    background: #fff;
    margin-top: 0.14rem;
}

.item .imgbox {
    width: 3.5rem;
    height: 2.87rem;
    background: #000;
}

.imgbox img {
    width: 100%;
    height: 100%;
}

.item .title {
    margin-top: 0.23rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0.2rem;
    font-size: 0.28rem;
    color: #3F3F3F;
    font-weight: bold;
}

.item .box {
    width: 100%;
    padding: 0.16rem 0.2rem;
    display: flex;
    justify-content: space-between;
}
.box .price{
    width: 50%;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #FF9C01;
    font-weight: bold;
}
.box .more{
    width: 20%;
    height: 0.6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.more .spot{
    display: block;
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: #D4D4D4;
}
/* copyright */
.copyright{
    padding-top: 0.48rem;
    padding-bottom: 0.48rem;
    font-size: 0.24rem;
    color: #3F3F3F;
    font-weight: bold;
    text-align: center;
}
.copy-row1{
    display: block;
    color: #3F3F3F;
    font-weight: bold;
    text-align: center;
}
.copy-row2,.copy-row3{
    margin-top: 0.05rem;
}