/* 右侧固定条 */
.right-fixed-box {
    width: 40px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    background-color: #3F3C3C;
    z-index: 1000;
}

.clickarea {
    cursor: pointer;
    height:652px;
    overflow: hidden;
    background-image: url(../images/sidebar.png);
    background-repeat: no-repeat;
    background-size: 40px auto;
}
.hoverarea{
    width: 40px;
    position: absolute;
    bottom: 5%;
    z-index:1100;
}
.ularea li{
    width: 40px;
    height: 40px;
    margin: 10px 0;
    background-color: #3F3C3C;
    background-position: center center;
    background-repeat: no-repeat;
}

.icon-block{
    display: block;
    width: 100%;
    height: 100%;
}
.icon-man{
    background-image: url(../images/vipclient.png);
    background-size: 23px 26px;
    position: relative;
}
.put-man{
    display: block;
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    color:#fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background-color:#FF8800;
    transition: all .2s ease-in;
    z-index: -500;
    border-radius: 3px 0 0 3px;
}
.icon-wx{
    background-image: url(../images/weixin.png);
    background-size: 28px 28px;
    position: relative;
}
.skanimg{
    width: 243px;
    height: 140px;
    position: absolute;
    top: -22px;
    left: -250px;
    z-index: 999999999;
    cursor: pointer;
    display: none;
}
.icon-server{
    background-image: url(../images/servetele.png);
    background-size: 26px 27px;
    position: relative;
}
.put-server{
    display: block;
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    color:#fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background-color:#FF8800;
    transition: all .2s ease-in;
    z-index: -500;
    border-radius: 3px 0 0 3px;
}
.icon-top{
    background-image: url(../images/totop.png);
    background-size: 23px 29px;
    position: relative;
}
.put-top{
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    color:#fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    background-color:#FF8800;
    transition: all .2s ease-in;
    z-index: -500;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
}

/* 弹出留言框 */
.fixed-sidebox {
    position: fixed;
    width: 362px;
    height: 680px;
    top: 0;
    right: -362px;
    z-index: 999;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    background-image: url(../images/formbg.png);
    background-size: 100% 100%;
}

.shutdown {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5px;
    top: 5px;
    outline: 0;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(../images/close.png);
    background-size: 100% 100%;
}
.form-warn{
    position: absolute;
    left: 0;
    top: 115px;
    width: 362px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: red;
}
.sidebox-form {
    width: 362px;
    position: absolute;
    top: 137px;
    overflow: hidden;
}
.real-form{
    width: 100%;
    overflow: hidden;
}
.form-row {
    width: 280px;
    height: 43px;
    margin-top: 10px;
    margin-left: 53px;
    height: 43px;
    overflow: hidden;
}

.form-key {
    width: 60px;
    float: left;
    height: 43px;
    line-height: 43px;
    text-align: center;
    font-size: 13px;
    font-weight: 500;
    color: #3F3C3C;
}

.form-value {
    width: 220px;
    float: left;
    height: 43px;
    border: 1px solid rgba(193, 192, 192, 1);
    border-radius: 3px;
    background-color: #fff;
    outline: 0;
    padding-left: 10px;
    font-size: 13px;
}

.form-submit {
    display: block;
    width: 263px;
    height: 43px;
    background: rgba(255, 132, 0, 1);
    border-radius: 3px;
    font-size: 18px;
    text-align: center;
    line-height: 43px;
    color: #fff;
    margin-top: 10px;
    margin-left:70px;
    cursor: pointer;
    outline: 0;
}