#Iview-box {
    overflow: hidden;
    position: relative;

}

#Iview-bg {
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
}

#date-desc {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    letter-spacing: 40px;
}

#Iview-img1 {
    position: absolute;
    left: 50%;
    margin-left: -25%;
    animation: ani1 1s ease-in-out forwards;
}

@keyframes ani1 {
    from {
        transform: scale(1.3);
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

#Iview-img2 {
    position: absolute;
    left: 50%;
    margin-left: -14.2%;
    animation: ani2 1s 0.5s ease-in-out forwards;
}

@keyframes ani2 {
    to {
        transform: rotate(360deg);
    }
}

#Iview-img3 {
    position: absolute;          
    left: 50%;
    margin-left: -3080.5px;
}

@keyframes ani3 {
    from {
        margin-left: -3080.5px;
    }

    to {
        margin-left: -16%;
    }
}

#Iview-img4 {
    position: absolute;
    left: 50%;
    margin-left: -5.5%;
    animation: ani4 1s infinite;
}

@keyframes ani4 {
    to {
        box-shadow: 0 5px 5px 5px #fff;
    }
}

#Iview-img5 {
    position: absolute;
    left: 50%;
    margin-left: 3760px;
}

@keyframes ani5 {
    from {
        margin-left: 3760px;
    }

    to {
        margin-left: -19.5%;
    }
}

#Iview-img6 {
    position: absolute;
    left: 50%;
    margin-left: -3760px;
}

@keyframes ani6 {
    from {
        margin-left: -3760px;
    }

    to {
        margin-left: -9%;
    }
}

#Iview-img7 {
    position: absolute;
    left: 50%;
    margin-left: 3760px;
}

@keyframes ani7 {
    from {
        margin-left: 3760px;
    }

    to {
        margin-left: -19.5%;
    }
}

#Iview-img8 {
    position: absolute;
    left: 50%;
    margin-left: -3760px;
}

@keyframes ani8 {
    from {
        margin-left: -3760px;
    }

    to {
        margin-left: -9.5%;
    }
}
#bottom-title{
    width: 100%;
    position: absolute;
}
#b-row1{
    letter-spacing: 25px;
    text-align: center;
    font-size: 55px;
    color: #fff;
}
#b-row2{
    letter-spacing: 25px;
    margin-top: 10px;
    text-align: center;
    font-size: 55px;
    color: #fff;
}
#b-row3{
    margin-top: 50px;
    font-size: 28px;
    text-align: center;
    color: #FEAAAA;
}
#b-row4{
    text-align: center;
    font-size: 28px;
    color: #FEAAAA;
}